**In this notebook , we perform Basic Exploratory Data Analysis of the Dataframe. The Dataset is obtained by scraping merojob webisite.**

In [3]:
#importing required libraries

import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [4]:
#reading the dataset
data=pd.read_csv('/Users/bibekrai/tensorflow-test/MeroJob-Analysis/mergeddata.csv')
data.head()

,Unnamed: 0,Title,Company,Location,KeySkills,job_category,job_level,no_of_vacancy,employment_type,offered_salary,education_level,experience_required
0,0,Backend Developer,Codeware Lab,"Dharmasthal Marg, Kathmandu 44600, Nepal","['Communication', 'Teamwork', 'Java', 'Analyti...",IT & Telecommunication\n > Programmer/ Softwar...,Mid Level,[ 25 ],Full Time,"NRs. 200,000.00 - 500,000.00 Monthly",Bachelor,More than or equals to 3 years
1,1,Asp. Net Developer,Exotrac,Old Baneshwor,"['Html', 'Css', 'Javascript']",IT & Telecommunication\n > Database Engineer/D...,Senior Level,[ 10 ],Full Time,"$. 1,000.00 - 1,500.00 Monthly",Bachelor,More than or equals to 3 years
2,2,Linux Ninja Wanted ( Excellent …,Tech Central,"Kathmandu, Nepal","['Communication', 'Problem Solving', 'Linux', ...",IT & Telecommunication,Mid Level,[ 10 ],Full Time,Negotiable,Bachelor,More than or equals to 5 years
3,3,Senior Laravel Web Developer,SabKura.com,"New Baneshwor, Kathmandu, Nepal","['Php', 'Html', 'Css', 'Javascript', 'Vue Js']","IT & Telecommunication\n > Content Developer, ...",Mid Level,[ 5 ],Full Time,"NRs. 80,000.00 - 160,000.00 Monthly",Bachelor,More than or equals to 4 years
4,4,Senior Software Engineer (Pytho…,Logpoint Nepal,"Jawalakhel ,Lalitpur","['Teamwork', 'Problem Solving', 'Analytical Sk...",IT & Telecommunication,Senior Level,[ 5 ],Full Time,Negotiable,Bachelor,More than or equals to 5 years

## Perfroming EDA

In [5]:
#columns that are presented in dataset
data.columns

Index(['Unnamed: 0', 'Title', 'Company', 'Location', 'KeySkills',
       'job_category', 'job_level', 'no_of_vacancy', 'employment_type',
       'offered_salary', 'education_level', 'experience_required'],
      dtype='object')

In [6]:
#total columns present in the dataset

data.columns.value_counts()

Unnamed: 0             1
Title                  1
Company                1
Location               1
KeySkills              1
job_category           1
job_level              1
no_of_vacancy          1
employment_type        1
offered_salary         1
education_level        1
experience_required    1
dtype: int64

In [7]:
#checking the shape of the dataframe

data.shape

#the dataframe got 60 rows and 12 columns

(60, 12)

In [8]:
#checking if the dataset columns got any null value or not

data.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False])

In [19]:
#basic info of columns

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           60 non-null     int64
 1   Title                60 non-null     object
 2   Company              60 non-null     object
 3   Location             60 non-null     object
 4   KeySkills            60 non-null     object
 5   job_category         60 non-null     object
 6   job_level            60 non-null     object
 7   no_of_vacancy        60 non-null     object
 8   employment_type      60 non-null     object
 9   offered_salary       60 non-null     object
 10  education_level      60 non-null     object
 11  experience_required  60 non-null     object
dtypes: int64(1), object(11)
memory usage: 5.8+ KB

In [21]:
#Changing columns 'Unnamed' into 'id'

data.rename(columns={'Unnamed: 0':'id'},inplace=True)
data.head()

,id,Title,Company,Location,KeySkills,job_category,job_level,no_of_vacancy,employment_type,offered_salary,education_level,experience_required
0,0,Backend Developer,Codeware Lab,"Dharmasthal Marg, Kathmandu 44600, Nepal","['Communication', 'Teamwork', 'Java', 'Analyti...",IT & Telecommunication\n > Programmer/ Softwar...,Mid Level,[ 25 ],Full Time,"NRs. 200,000.00 - 500,000.00 Monthly",Bachelor,More than or equals to 3 years
1,1,Asp. Net Developer,Exotrac,Old Baneshwor,"['Html', 'Css', 'Javascript']",IT & Telecommunication\n > Database Engineer/D...,Senior Level,[ 10 ],Full Time,"$. 1,000.00 - 1,500.00 Monthly",Bachelor,More than or equals to 3 years
2,2,Linux Ninja Wanted ( Excellent …,Tech Central,"Kathmandu, Nepal","['Communication', 'Problem Solving', 'Linux', ...",IT & Telecommunication,Mid Level,[ 10 ],Full Time,Negotiable,Bachelor,More than or equals to 5 years
3,3,Senior Laravel Web Developer,SabKura.com,"New Baneshwor, Kathmandu, Nepal","['Php', 'Html', 'Css', 'Javascript', 'Vue Js']","IT & Telecommunication\n > Content Developer, ...",Mid Level,[ 5 ],Full Time,"NRs. 80,000.00 - 160,000.00 Monthly",Bachelor,More than or equals to 4 years
4,4,Senior Software Engineer (Pytho…,Logpoint Nepal,"Jawalakhel ,Lalitpur","['Teamwork', 'Problem Solving', 'Analytical Sk...",IT & Telecommunication,Senior Level,[ 5 ],Full Time,Negotiable,Bachelor,More than or equals to 5 years

In [23]:
#describing the dataset

data.describe()

              id
count  60.000000
mean   29.500000
std    17.464249
min     0.000000
25%    14.750000
50%    29.500000
75%    44.250000
max    59.000000

In [25]:
#checking total null values of columns


data.isnull().sum()

id                     0
Title                  0
Company                0
Location               0
KeySkills              0
job_category           0
job_level              0
no_of_vacancy          0
employment_type        0
offered_salary         0
education_level        0
experience_required    0
dtype: int64

In [30]:
#job level type

data.job_level.value_counts()

Mid Level       36
Senior Level    12
Entry Level     12
Name: job_level, dtype: int64

In [31]:
#employment type

data.employment_type.value_counts()

Full Time      58
Traineeship     1
Part Time       1
Name: employment_type, dtype: int64

In [34]:
data.no_of_vacancy.value_counts()

[ 1 ]     38
[ 2 ]      5
[ 5 ]      4
[ 3 ]      4
[ 4 ]      3
[ 10 ]     2
[ 25 ]     1
[ 6 ]      1
[ 9 ]      1
[ 15 ]     1
Name: no_of_vacancy, dtype: int64

**Here we got , 38 jobs are opened for only 1 position vacancy where 5 jobs are opened for 2 position vacancy and so on**