# In this notebook,we have used basic ML models to predict the result.

#### Using,Linear regression model to predict offered salary on other variables

In [15]:
#importing necessary libraries

import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [16]:
#reading csv file

data=pd.read_csv('/Users/bibekrai/tensorflow-test/MeroJob-Analysis/mergeddata.csv')
data.head()

,Unnamed: 0,Title,Company,Location,KeySkills,job_category,job_level,no_of_vacancy,employment_type,offered_salary,education_level,experience_required
0,0,Backend Developer,Codeware Lab,"Dharmasthal Marg, Kathmandu 44600, Nepal","['Communication', 'Teamwork', 'Java', 'Analyti...",IT & Telecommunication\n > Programmer/ Softwar...,Mid Level,[ 25 ],Full Time,"NRs. 200,000.00 - 500,000.00 Monthly",Bachelor,More than or equals to 3 years
1,1,Asp. Net Developer,Exotrac,Old Baneshwor,"['Html', 'Css', 'Javascript']",IT & Telecommunication\n > Database Engineer/D...,Senior Level,[ 10 ],Full Time,"$. 1,000.00 - 1,500.00 Monthly",Bachelor,More than or equals to 3 years
2,2,Linux Ninja Wanted ( Excellent …,Tech Central,"Kathmandu, Nepal","['Communication', 'Problem Solving', 'Linux', ...",IT & Telecommunication,Mid Level,[ 10 ],Full Time,Negotiable,Bachelor,More than or equals to 5 years
3,3,Senior Laravel Web Developer,SabKura.com,"New Baneshwor, Kathmandu, Nepal","['Php', 'Html', 'Css', 'Javascript', 'Vue Js']","IT & Telecommunication\n > Content Developer, ...",Mid Level,[ 5 ],Full Time,"NRs. 80,000.00 - 160,000.00 Monthly",Bachelor,More than or equals to 4 years
4,4,Senior Software Engineer (Pytho…,Logpoint Nepal,"Jawalakhel ,Lalitpur","['Teamwork', 'Problem Solving', 'Analytical Sk...",IT & Telecommunication,Senior Level,[ 5 ],Full Time,Negotiable,Bachelor,More than or equals to 5 years

In [31]:
#declaring variable

x=data[['job_level','Location','education_level','experience_required']]
y=data['offered_salary']

In [32]:
#splitting data into training and testing sets

X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.8,random_state=42)

In [59]:
data['offered_salary']=data['offered_salary'].replace({'Negotiable':1,'NRs. 200,000.00 - 500,000.00 Monthly': 350000,'$. 1,000.00 - 1,500.00 Monthly':1250,'NRs. 80,000.00 - 160,000.00 Monthly':120000,'NRs. 20,000.00 - 35,000.00 Monthly':27000,'NRs. 100,000.00 - 170,000.00 Monthly':130000,'NRs. 40,000.00 - 80,000.00 Monthly':60000,'NRs. 10,000.00 Monthly':5000,'NRs. 30,000.00 - 80,000.00 Monthly':55000,'$. 300.00 - 500.00 Monthly':400,'NRs. 80,000.00 - 100,000.00 Monthly':90000,'NRs. 16,000.00 - 21,000.00 Monthly':18000,'NRs. 25,000.00 Monthly':12000})

In [60]:
data.to_csv('new.csv', index=False)

In [61]:
pd.read_csv('new.csv')

,Unnamed: 0,Title,Company,Location,KeySkills,job_category,job_level,no_of_vacancy,employment_type,offered_salary,education_level,experience_required
0,0,Backend Developer,Codeware Lab,"Dharmasthal Marg, Kathmandu 44600, Nepal","['Communication', 'Teamwork', 'Java', 'Analyti...",IT & Telecommunication\n > Programmer/ Softwar...,Mid Level,[ 25 ],Full Time,0.0,Bachelor,More than or equals to 3 years
1,1,Asp. Net Developer,Exotrac,Old Baneshwor,"['Html', 'Css', 'Javascript']",IT & Telecommunication\n > Database Engineer/D...,Senior Level,[ 10 ],Full Time,250.0,Bachelor,More than or equals to 3 years
2,2,Linux Ninja Wanted ( Excellent …,Tech Central,"Kathmandu, Nepal","['Communication', 'Problem Solving', 'Linux', ...",IT & Telecommunication,Mid Level,[ 10 ],Full Time,NaN,Bachelor,More than or equals to 5 years
3,3,Senior Laravel Web Developer,SabKura.com,"New Baneshwor, Kathmandu, Nepal","['Php', 'Html', 'Css', 'Javascript', 'Vue Js']","IT & Telecommunication\n > Content Developer, ...",Mid Level,[ 5 ],Full Time,0.0,Bachelor,More than or equals to 4 years
4,4,Senior Software Engineer (Pytho…,Logpoint Nepal,"Jawalakhel ,Lalitpur","['Teamwork', 'Problem Solving', 'Analytical Sk...",IT & Telecommunication,Senior Level,[ 5 ],Full Time,NaN,Bachelor,More than or equals to 5 years
5,5,SEO Expert,Discovery World Trekking,Kathmandu,"['Javascript', 'React', 'Blogging', 'Search En...",IT & Telecommunication,Mid Level,[ 1 ],Full Time,0.0,Bachelor,More than or equals to 2 years
6,6,Senior Backend Developer,Hamro Academy,New Baneshwor,"['Html', 'Css', 'Javascript', 'Mongodb', 'Node...",IT & Telecommunication\n > Programmer/ Softwar...,Senior Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 3 years
7,7,Senior Laravel Developer,Resimator (Oy),Mahakavi Marg 29 Dillibazar,"['Php', 'Javascript', 'Mysql', 'Ajax', 'Larave...",IT & Telecommunication\n > Programmer/ Softwar...,Senior Level,[ 2 ],Full Time,NaN,Bachelor,More than or equals to 3 years
8,8,Jr. IT Associate,Daraz,"Kathmandu, Nepal",[],IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 1 year
9,9,Customer Care Trainee,UBA Solutions,"Imadol, Lalitpur, Nepal","['Problem Solving', 'Css', 'Html5', 'Adobe Pho...",IT & Telecommunication,Entry Level,[ 5 ],Traineeship,NaN,Bachelor,Less than 1 year
10,10,Lead Site Reliability Engineer …,UBA Solutions,"Imadol, Lalitpur, Nepal","['Team Management', 'Linux', 'Aws', 'Windows',...",IT & Telecommunication,Senior Level,[ 2 ],Full Time,NaN,Bachelor,More than or equals to 5 years
11,11,Site Reliability Engineer I (SR…,UBA Solutions,"Imadol, Lalitpur, Nepal","['Linux', 'Aws', 'Windows', 'Monitoring Tools']",IT & Telecommunication,Entry Level,[ 6 ],Full Time,NaN,Bachelor,More than or equals to 2 years
12,12,Software Development Engineer i…,UBA Solutions,"Imadol, Lalitpur, Nepal","['Javascript', 'Jmeter', 'Selenium', 'Automati...",IT & Telecommunication,Mid Level,[ 4 ],Full Time,NaN,Bachelor,More than or equals to 3 years
13,13,Security Engineer - SecOps,Logpoint Nepal,"Jawalakhel ,Lalitpur","['Teamwork', 'Java', 'Python', 'Linux', 'Analy...",IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 2 years
14,14,Senior DevOps Engineer,Logpoint Nepal,"Jawalakhel ,Lalitpur","['Python', 'Linux', 'Analytical Skills', 'Prob...",IT & Telecommunication,Senior Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 4 years
15,15,Computer Repair Technician/Inst…,Tech Central,"Kathmandu, Nepal","['Communication', 'Problem Solving', 'Time Man...",IT & Telecommunication\n > H/W Installation/ M...,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 1 year
16,16,IT Officer,Hulas Wire Industries Limited,"KHANAR,BIRATNAGAR",[],IT & Telecommunication,Senior Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 5 years
17,17,Senior WordPress Developer (Tea…,Outpace,Remote,"['Php', 'Html', 'Css', 'Javascript', 'Wordpress']",IT & Telecommunication\n > Programmer/ Softwar...,Senior Level,[ 1 ],Full Time,0.0,Bachelor,More than or equals to 5 years
18,18,Technical Writer ( Customer Suc…,Logpoint Nepal,"Jawalakhel ,Lalitpur","['Communication', 'Linux', 'Analytical Skills'...",IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 1 year
19,19,Senior Solutions Engineer,Logpoint Nepal,"Jawalakhel ,Lalitpur","['Communication', 'Problem Solving', 'Time Man...",IT & Telecommunication,Senior Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 4 years
20,20,Customer Success Engineer,Logpoint Nepal,"Jawalakhel ,Lalitpur","['Communication', 'Problem Solving', 'Java', '...",IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 3 years
21,21,Front End /WordPress Developer,Worldlink Parijat,"Kathmandu, Nepal","['Communication', 'Php', 'Html', 'Css', 'Javas...",IT & Telecommunication,Mid Level,[ 3 ],Full Time,NaN,Bachelor,More than or equals to 1 year
22,22,IT System Officer,Aligned Community Care,Kathmandu,"['Html', 'Css', 'Website Development']",IT & Telecommunication\n > IT System Management,Mid Level,[ 1 ],Full Time,0.0,Bachelor,More than or equals to 2 years
23,23,Business Intelligence Analyst,CG Communications ltd,"Trade Tower, Thapathali Kathmandu","['Communication', 'Problem Solving', 'Data Ana...",IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 2 years
24,24,Senior Business Analyst,INFICARE,"Kathmandu, Nepal","['Communication', 'Problem Solving', 'Multitas...",IT & Telecommunication,Senior Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 5 years
25,25,Quality Analyst,INFICARE,"Kathmandu, Nepal","['Communication', 'Problem Solving', 'Time Man...",IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 1 year
26,26,Support Analyst-Technical,Nepal Clearing House,"Kathmandu, Nepal",[],IT & Telecommunication,Entry Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 1 year
27,27,Product Officer,CG Communications ltd,"Trade Tower, Thapathali Kathmandu","['Communication', 'Problem Solving', 'Analytic...",IT & Telecommunication,Mid Level,[ 2 ],Full Time,NaN,Master,More than or equals to 1 year
28,28,System Analyst - Payment Systems,Nepal Clearing House,"Kathmandu, Nepal",[],IT & Telecommunication,Entry Level,[ 4 ],Full Time,NaN,Bachelor,More than or equals to 1 year
29,29,Technical Analyst - Network & C…,Nepal Clearing House,"Kathmandu, Nepal",[],IT & Telecommunication,Entry Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 2 years
30,30,iOS Developer,Nepal Clearing House,"Kathmandu, Nepal",[],IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 3 years
31,31,Jr. Android Developer,Nepal Clearing House,"Kathmandu, Nepal",[],IT & Telecommunication,Entry Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 1 year
32,32,QA Engineer,Nepal Clearing House,"Kathmandu, Nepal",[],IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 3 years
33,33,Business Analyst,Nepal Clearing House,"Kathmandu, Nepal",[],IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 3 years
34,34,Fellowship Interns,Nepal Clearing House,"Kathmandu, Nepal",[],IT & Telecommunication,Entry Level,[ 9 ],Full Time,NaN,Bachelor,Not Required
35,35,STB QA Engineer,Dish Media Network,Kathmandu,"['Communication', 'Teamwork', 'Ms-Office']",IT & Telecommunication,Entry Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 1 year
36,36,Senior React Front End Developer,Nebula Technology,Remote,[],IT & Telecommunication,Senior Level,[ 3 ],Part Time,NaN,Bachelor,More than or equals to 2 years
37,37,Quality Assurance Officer,Khalti Digital Wallet,"Bakhundole, Lalitpur","['Communication', 'Teamwork', 'Problem Solving...",IT & Telecommunication,Mid Level,[ 2 ],Full Time,NaN,Bachelor,More than or equals to 3 years
38,38,Paid internship/Core banking So…,Planet Earth Solutions,"Satdobato,Lalitpur","['Management', 'Communication', 'Accounting', ...",IT & Telecommunication,Entry Level,[ 15 ],Full Time,0.0,Intermediate,Not Required
39,39,Software Developer .NET,Perfect Active Solutions,"Old Baneshwor,Kathmandu","['Javascript', 'Jquery', 'Sql Server', 'Progra...",IT & Telecommunication\n > Programmer/ Softwar...,Mid Level,[ 4 ],Full Time,0.0,Bachelor,More than or equals to 1 year
40,40,IOS Developer,EBPearls,"Kandevtasthan, Kupondole, Lalitpur","['Coredata', 'Cocoa Touch', 'Orm And Rdbms']",IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 2 years
41,41,Project Manager,EBPearls,Kathmandu,[],IT & Telecommunication,Mid Level,[ 2 ],Full Time,NaN,Bachelor,More than or equals to 2 years
42,42,QA Software Engineers,Dolphin Dive Technology,"Sanepa, Lalitpur",[],IT & Telecommunication\n > Programmer/ Softwar...,Mid Level,[ 3 ],Full Time,400.0,Bachelor,More than or equals to 1 year
43,43,DevOps Engineer,ThinkMove Solutions,"Kathmandu, Nepal","['Management', 'Communication', 'Multitasking'...",IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 2 years
44,44,IOS Developer,ThinkMove Solutions,"Kathmandu, Nepal","['Management', 'Communication', 'Multitasking'...",IT & Telecommunication,Mid Level,[ 1 ],Full Time,0.0,Bachelor,More than or equals to 2 years
45,45,Asst. IT System Administrator,K&A Engineering Consulting P.C,"Sanepa, Lalitpur","['Communication', 'Teamwork', 'Interpersonal S...",IT & Telecommunication\n > IT System Management,Entry Level,[ 1 ],Full Time,NaN,Bachelor,Less than or equals to 1 year
46,46,Operation Support Coordinator,K&A Engineering Consulting P.C,"Sanepa, Lalitpur","['Communication', 'Teamwork', 'Interpersonal S...",IT & Telecommunication,Entry Level,[ 1 ],Full Time,NaN,Bachelor,Less than 1 year
47,47,Data Analyst,Dish Media Network,"Chyasikot, Lalitpur",[],IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 2 years
48,48,Data Engineer,Dish Media Network,"Chyasikot, Lalitpur",[],IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 3 years
49,49,DBA Engineer,Dish Media Network,"Chyasikot, Lalitpur",[],IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 2 years
50,50,IT Security Engineer,Dish Media Network,"Chyasikot, Lalitpur",[],IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 4 years
51,51,SEO Content Writer,Aqore Software,"New Baneshwor, Kathmandu","['Communication', 'Content Writing', 'Creativi...",IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 1 year
52,52,Flutter Developer,Aqore Software,"New Baneshwor, Kathmandu","['Mobile Application Development', 'Flutter']",IT & Telecommunication,Mid Level,[ 3 ],Full Time,NaN,Bachelor,More than or equals to 2 years
53,53,Database Administrator,Aqore Software,"New Baneshwor, Kathmandu","['Communication', 'Database Administration', '...",IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 2 years
54,54,Full Stack Developer,Aqore Software,"New Baneshwor, Kathmandu","['Asp.Net', 'Angular', 'Ms Sql']",IT & Telecommunication,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 2 years
55,55,Web Developer (Laravel),View9,"Sankhamul, Kathmandu","['Javascript', 'Angularjs', 'Node.Js', 'Linux/...",IT & Telecommunication\n > Web Developer/Web D...,Mid Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 2 years
56,56,Associate System and Network En…,Aqore Software,"New Baneshwor, Kathmandu","['Communication', 'Networking Skills']",IT & Telecommunication,Entry Level,[ 1 ],Full Time,NaN,Bachelor,Less than or equals to 1 year
57,57,Lead Cloud Infrastructure Engin…,Aqore Software,"New Baneshwor, Kathmandu","['Communication', 'Critical Thinking', 'Networ...",IT & Telecommunication,Senior Level,[ 1 ],Full Time,NaN,Bachelor,More than or equals to 5 years
58,58,IT Support,Softech Infosys,Kathmandu,"['Communication', 'Problem Solving', 'Customer...","IT & Telecommunication\n > Customer Support, D...",Mid Level,[ 5 ],Full Time,0.0,Bachelor,More than or equals to 1 year
59,59,System Administrator,Karnali Network Services Pvt. Ltd.,Work From Home,"['Communication', 'Network', 'System Administr...",IT & Telecommunication\n > IT System Managemen...,Mid Level,[ 1 ],Full Time,0.0,Bachelor,More than or equals to 2 years

In [36]:
#Converting to numeric values

X_train['Location']=pd.factorize(X_train['Location'])[0]
X_test['Location']=pd.factorize(X_test['Location'])[0]
X_train['job_level']=pd.factorize(X_train['job_level'])[0]
X_test['job_level']=pd.factorize(X_test['job_level'])[0]
X_train['education_level']=pd.factorize(X_train['education_level'])[0]
X_test['education_level']=pd.factorize(X_test['education_level'])[0]
X_train['experience_required']=pd.factorize(X_train['experience_required'])[0]
X_test['experience_required']=pd.factorize(X_test['experience_required'])[0]
X_train['offered_salary']=pd.factorize(X_train['offered_salary'])[0]
X_test['offered_salary']=pd.factorize(X_test['offered_salary'])[0]

KeyError: 'offered_salary'

In [23]:
#training and fitting the model

reg=LinearRegression()
reg.fit(X_train,y_train)

ValueError: could not convert string to float: 'Negotiable'